pyautogui
pynput


# pip install -r requirements.txt
# Переписать работу лаунчера, чтобы избежать будущих ошибок с подключением: 1 час работы 2 минуты отдыха, кроме основых временных данных, когда сервер перезагружается.